body {
    background-color: #d3965d;
}

.second {
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Gajraj One';
    border-bottom: dashed;
    border-color: black;
    border-width: 5px;
    padding-bottom: 10px;
}

.third {
    list-style-type: none;
}

.third li::first-letter {
font-size: 30px;
font-weight: bold;
font-style: italic;
}

#wrap {
    background-color: #d1cfb3;
    border-style: dashed;
    border-color: black;
    border-width: 5px;
    text-align: center;
}
