body {
    background-color: #3c3a96;
    text-align: center;
    margin-top: 0px;
}

#wrap {
    display: flex;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
}

.ul {
    list-style: none;
}

#nav {
    background-color: #8ba7c0;
    float: left;
    width: 200px;
    text-align: center;
}

#content {
    background-color: #5c8ca1;
    overflow: hidden;
    width: 600px;
    padding-left: 20px;
    padding-right: 20px;
}