body {
    background-color: #3c3a96;
    text-align: center;
    margin-top: 0px;
}

#wrap {
    float: right;
    display: flex;

}

.ul {
    list-style: none;
}

#nav {
    background-color: #8ba7c0;
    float: left;
}

#content {
    background-color: #5c8ca1;
    overflow: hidden;
}