body {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 100px auto;
}

.div {
    flex-grow: 1;
    background-color: red;
    font-weight: bold;
    font-size: 32px;
    color: white;
    text-align: center;
}

.p {
    flex-grow: 1;
    font-size: 18px;
    background-color: green;
    color: white;
    text-align: center;
}

.button {
    width: 40%;
    font-size: 18px;
    background-color: orange;
    margin: auto;
}