div {
    font-weight: 900px;
    background-color: blueviolet;
    font-size: x-large;
    text-align: justify;
    
}

}.col-4 {
    width: 33%;
}

.col-6 {
width: 50%;
}

.col-12 {
width: 100%;
}

@media screen (min-width: 960px) {
    .col-4 {
        width: 33%;
    }
    .col-6 {
        width: 50%;
    }
}

@media screen (min-width: 765px) {
    .col-4 {
        width: 50%;
    }
}

@media screen (max-width: 765px) {
    .col-4 {
        width: 100%
    }
}

@media screen (max-width: 960px) {
    .col-6 {
        width: 100%
    }
}

@media all {
    .col-12 {
        width: 100%;
    }
}