boby {
    weight: 400px;
    height: 9000px;
    display: flex;
}

.First {
    margin: 10px 10px;
    float: left;

}

.pink {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 60px;
    height: 60px;
    background-color: pink;
    margin-top: 10px;

}

.Second {
    margin: 10px 10px;
    float: right;
}

.blue {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 240px;
    height: 60px;
    background-color: blue;
    margin-top: 10px;
}

.Third {
    margin: 10px 10px;
    clear: both;

}

.yellow {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 320px;
    height: 60px;
    background-color: yellow;
        display: inline-block;


}