boby {
    weight: 400px;
    height: 1000px;
}

.First {
    margin: 10px 10px 10px 10px;
    text-align: center;
    font-size: 0;
    float: left;
}

.pink {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 60px;
    height: 60px;
    background-color: pink;
    margin-top: 10px;

}

.Second {
    margin: 10px 10px 10px 10px;
    text-align: center;
    font-size: 0;
    float: right;
}

.blue {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 240px;
    height: 60px;
    background-color: blue;
    margin-top: 10px;
}

.Third {
    text-align: center;
    font-size: 0;
    display: inline-block;
}

.yellow {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 320px;
    height: 60px;
    background-color: yellow;
}